# DATABASE
mongo_url=mongodb+srv://ankit:LiveAnkit@cluster0.opdbtv8.mongodb.net/restapipractice?retryWrites=true&w=majority

# GOOGLE ANALYTICS AND GTM
NEXT_PUBLIC_GOOGLE_ANALYTICS=

# NEXTAUTH
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET_SEED=0S5l05E0/2I8aiGSVRVHyF0kffC/dMG3t7Ex1g8GBWo
NEXTAUTH_SECRET=0S5l05E0/2I8aiGSVRVHyF0kffC/dMG3t7Ex1g8GBWo


GITHUB_ID = a0018dc3e752ed7fe4db
GITHUB_SECRET = 1f52677c5e0c65ad8380642cc9c73a76919cfc8d
# HOST NAMES
HOST_NAME_PROD=
HOST_NAME_DEV=


# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# EMAIL - MAILGUN
NEXT_PUBLIC_MAILGUN_API_KEY=
EMAIL_SERVER=
MG_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# OPENAI
OPENAI_API_KEY=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

# TODO: Get new credentials for each app by going to: https://console.cloud.google.com/apis/credentials
### OAUTH PROVIDERS
# GOOGLE
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_ID=1011222579309-k3rpr7lklf1ukvfssn2cmkl5bdqif7j6.apps.googleusercontent.com


# STRIPE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY="sk_test_tR3PYbcVNZZ796tH88S4VQ2u"
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL=
LINKEDIN_CLIENT_ID = 77wy8ypgqjepx5
LINKEDIN_CLIENT_SECRET = pg4NTMhscxXVZAkU


DISCORD_CLIENT_ID = 1209394459360501770
DISCORD_CLIENT_SECRET = xQhgXs12pSuN9FibKBKRIYR2XrVTSnGB

JWT_SECRET=pg4NTMhscxXVZAkUNhtQgWtsG8gHzZRnHb6yENiu6b06

SMTP_HOST="smtp.mailgun.org"
SMTP_PORT="587"
smtp_user="postmaster@sandboxb2328a93eff54cb99ceee2827f1dcd16.mailgun.org"
SMTP_PASSWORD="13e34d6bd9928c67733d43039590a3ce-69a6bd85-29cb8f96"
